<li>
  <div>
    <% if(locals.user && locals.user.id == comment.user.id) { %>
    <a href="/comment/destroy/<%= comment.id %>">x</a>
    <% } %>

    <span><%= comment.content %></span><br />

    <small><%= comment.user.name %></small>
    <br />
    <% if(locals.user) { %>
    <a
      class="toggle-like-button"
      data-likes="comment.likes.length"
      href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
    >
      <%= comment.likes.length %> Likes %>
    </a>
    <% } else { %> <%= comment.likes.length %> Likes %> <% } %>
  </div>
  <br />
</li>
