<li id="post-<%=post._id%>">
  <h4>post</h4>
  <p>
    <% if(locals.user && locals.user.id == post.user.id) { %>
    <a class="delete-post-button" href="/post/destroy/<%= post.id %>">x</a>
    <% } %> <%= post.content %>
    <br />
    <small><%= post.user.name %></small>

    <br />

    <% if(locals.user) { %>
    <a
      href="/likes/toggle/?id=<%=post._id%>&type=Post"
      class="toggle-like-button"
      data-likes="<%= post.likes.length%>"
    >
      <%= post.likes.length %> Likes %>
    </a>
    <% } else { %> <%= post.likes.length %> Likes %> <% } %>
  </p>

  <div>
    <h4>comments</h4>
    <div>
      <ul id="post-comments-<%= post._id %>">
        <% for(comment of post.comments) { %> <%- include('_comment') -%> <% }
        %>
      </ul>
    </div>

    <% if(locals.user) { %>
    <form action="/comment/create" method="post">
      <input
        type="text"
        name="content"
        placeholder="text your comment"
        required
      />
      <input type="hidden" name="post" value="<%= post._id %>" />
      <input type="submit" name="add comment" />
    </form>
    <%}%>
  </div>
  <hr />
</li>
