<link rel="stylesheet" href="./css/home.css" />
<link rel="stylesheet" href="./css/chatBox.css" />
<div id="home-container">
  <section id="feed-posts">
    <h4>posts</h4>
    <% if(locals.user) { %>
    <form action="/post/create" id="new-posts-form" method="post">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type hear..."
        required
      ></textarea>
      <input type="submit" value="post" />
    </form>
    <% } %>

    <div id="post-list-container">
      <ul>
        <% for(post of posts) { %> <%- include('_post') -%> <% } %>
      </ul>
    </div>
  </section>

  <section id="friend-list">
    <h4>Friends</h4>
    <% for(u of all_users) { %>

    <P>
      <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
      <% if(locals.user) { %>
      <a href="/friends/toggle/?id=<%= u.id%>"><button>add friend</button></a>
      <% } %>
    </P>

    <% } %>
  </section>
  <%- include('_chatBox') %>
</div>

<script src="./js/homePosts.js"></script>
<script src="./js/toggleLike.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="./js/chatEngine.js"></script>
<% if(locals.user) { %>
<script>
  new ChatEngine("user-chat-box", `<%= locals.user.email%>`);
</script>
<% } %>
