<h1>project2 / Home</h1>

<section id="feed-posts">
  <h4>posts</h4>
  <% if(locals.user) { %>
  <form action="/post/create" id="new-posts-form" method="post">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type hear..."
      required
    ></textarea>
    <input type="submit" value="post" />
  </form>
  <% } %>

  <ul>
    <% for(post of posts) { %>
    <li>
      <p>
        <% if(locals.user && locals.user.id == post.user.id) { %>
        <a href="/post/destroy/<%= post.id %>">x</a>
        <% } %> <%= post.content %>
        <br />
        <small><%= post.user.name %></small>
      </p>

      <div>
        <% if(locals.user) { %>
        <form action="/comment/create" method="post">
          <input
            type="text"
            name="content"
            placeholder="text your comment"
            required
          />
          <input type="hidden" name="post" value="<%= post._id %>" />
          <input type="submit" name="add comment" />
        </form>
        <%}%>
      </div>

      <div>
        <ul id="post-comments-<%= post._id %>">
          <% for(comment of post.comments) { %>
          <li>
            <div>
              <span><%= comment.content %></span><br />
              <small><%= comment.user.name %></small>
            </div>
            <br />
          </li>
          <% } %>
        </ul>
      </div>
    </li>

    <% } %>
  </ul>
</section>
